<section></section>
<p class="gamma home__tagline">
    I'm <strong>Ryan Day</strong>, and I'm a fledgling JavaScript developer.
    I want to build a more egalitarian world by creating software that focuses on
    accessibility and the equal exchange of information and ideas.
</p>
<ul class="gamma home__list">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Writing</a></li>
    <li><a href="/contact">Contact</a></li>
<ul>
</section>