// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   28.0,
    beta:    25.0,
    gamma:   22.4,
    delta:   20.0,
    epsilon: 17.9,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   30.0,
    beta:    26.6,
    gamma:   24.0,
    delta:   21.3,
    epsilon: 19.2,
    zeta:    17.0,
    eta:     15.3,
    theta:   13.6,
    iota:    12.8
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   50.0,
    beta:    40.5,
    gamma:   33.3,
    delta:   27,
    epsilon: 22.22,
    zeta:    18.0,
    eta:     14.8,
    theta:   12,
    iota:    9.9
  ),
  // Golden Ratio http://www.modularscale.com/?20,60&px&1.618
  scale-3: (
    alpha:   84.2,
    beta:    63.2,
    gamma:   47.4,
    delta:   35.5,
    epsilon: 26.7,
    zeta:    20.0,
    eta:     15.0,
    theta:   11.3,
    iota:    8.4
  ),
  // Golden Ratio http://www.modularscale.com/?22,70&px&1.618
  scale-4: (
    alpha:   92.6,
    beta:    69.5,
    gamma:   52.1,
    delta:   39.1,
    epsilon: 29.3,
    zeta:    22.0,
    eta:     16.5,
    theta:   12.4,
    iota:    9.3
  )
);
