// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   28.0,
    beta:    25.0,
    gamma:   22.4,
    delta:   20.0,
    epsilon: 17.9,
    zeta:    16.0,
    eta:     14.3,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-1: (
    alpha:   30.0,
    beta:    46.1,
    gamma:   33.7,
    delta:   21.3,
    epsilon: 19.2,
    zeta:    17.0,
    eta:     15.3,
    theta:   13.6,
    iota:    12.8
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-2: (
    alpha:   54.0,
    beta:    46.1,
    gamma:   33.8,
    delta:   28.8,
    epsilon: 21.1,
    zeta:    18.0,
    eta:     13.2,
    theta:   11.1,
    iota:    8.2
  ),
 // Major Sixth http://www.modularscale.com/?20,70&px&1.667
  scale-3: (
    alpha:   70.0,
    beta:    55.6,
    gamma:   42.0,
    delta:   33.3,
    epsilon: 25.2,
    zeta:    20,
    eta:     16.3,
    theta:   15.0,
    iota:    12.7
  ),
 // Major Sixth http://www.modularscale.com/?20,70&px&1.667
  scale-4: (
    alpha:   70.0,
    beta:    55.6,
    gamma:   42.0,
    delta:   33.3,
    epsilon: 25.2,
    zeta:    20,
    eta:     16.3,
    theta:   15.0,
    iota:    12.7
  )
);
