// Global demo styles.
// ---------------------------------------
html {
  height: 100%;
}

body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow: auto;
  margin-bottom: 2rem;
  height: 100%;
}

.section {
  padding: 1rem 0 2rem 0;

  @include breakpoint(break-1) {
    padding: 2rem 0 4rem 0;
  }

  @include breakpoint(break-2) {
    padding: 2rem 0 4rem 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include baseline(zeta, $bodytype, 2, 2, all);
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.post-item__title {
  display: inline-block;
  float: left;
  vertical-align: baseline;
}

.post-item__link {
  @extend a;
  color: $bodyColour;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($bodyColour,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 $backgroundColour,
               0.15rem 0 $backgroundColour,
              -0.1rem 0 $backgroundColour,
              -0.15rem 0 $backgroundColour;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $hoverColour;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,20%) 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 $backgroundColour,
                 0.15rem 0 $backgroundColour,
                -0.1rem 0 $backgroundColour,
                -0.15rem 0 $backgroundColour;
  }
}

.post-item__subtitle {
  @include fontsize(eta, all);
  color: $captionColour;
}

.post-item__excerpt {
  padding: .5rem 0 .75rem 0;
}
