// Header demo styles.
// ---------------------------------------

.global-header {
  @include clearfix;
  background-color: $backgroundColour;
  li {
    list-style-type: none;
  }

  .global-header__splash {
    color: $bodyColour;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    @include breakpoint(break-1) {
    }

    a {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .global-header__title {
    margin-bottom: 0;
    font-weight: bold;
    // padding-top: .75rem;
  }
}
