.post-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
}

.post-item__title {
  display: inline-block;
  float: left;
  vertical-align: baseline;
  font-weight: bold;
}

.post-item__subtitle {
  @include fontsize(eta, all);
  color: $captionColour;
}

.post-item__link {
  @include fontsize(eta, all);

  font-family: unquote(map-get($secondarytype, font-family));
  font-style: normal;
  font-weight: map-get($secondarytype, regular);
  color: $linkColour;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: $hoverColour;
  }
}
