.post-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
}

.post-item__title {
  display: inline-block;
  float: left;
  vertical-align: baseline;
}

.post-item__link {
  @extend a;
  color: $bodyColour;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($bodyColour,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 $backgroundColour,
               0.15rem 0 $backgroundColour,
              -0.1rem 0 $backgroundColour,
              -0.15rem 0 $backgroundColour;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $hoverColour;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten($hoverColour,20%) 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 $backgroundColour,
                 0.15rem 0 $backgroundColour,
                -0.1rem 0 $backgroundColour,
                -0.15rem 0 $backgroundColour;
  }
}

.post-item__subtitle {
  @include fontsize(eta, all);
  color: $captionColour;
}

.post-item__excerpt {
  padding: .5rem 0 .75rem 0;
}