.post-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
}

.post-item__title {
  display: inline-block;
  float: left;
  vertical-align: baseline;
}

.post-item__subtitle {
  @include fontsize(eta, all);
  color: $captionColour;
}